@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+AT:ital,wght@0,100..400;1,100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carattere&family=Dosis:wght@200..800&display=swap');


.shadows {
  -webkit-box-shadow: 0px 5px 15px 0px rgba(112, 112, 112, 0.54);
  -moz-box-shadow: 0px 5px 15px 0px rgba(112, 112, 112, 0.54);
  box-shadow: 0px 5px 15px 0px rgba(112, 112, 112, 0.54);
  background-color: var(---white);
  padding: 2rem;
  border-radius: 1rem;
}

.gallery {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  gap: 5px;
}

.contain {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding-top: 10px;
  margin-bottom: 30px;
}