---
const { title, img, alt, text } = Astro.props;
import "./style.css";
---

<div class="services">
  <div class="card">
    <img src="../../public/image/im12.jpg" alt="Imagen de nosotros" />
    <div class="hidden-text">
      <p>Eres mi persona favorita en el mundo. Te amo mucho.</p>
    </div>
  </div>
  <div class="card">
    <img src="../../public/image/im12.jpg" alt="Imagen de nosotros" />
    <div class="hidden-text">
      <p>Eres mi persona favorita en el mundo. Te amo mucho.</p>
    </div>
  </div>
  <div class="card">
    <img src="../../public/image/im12.jpg" alt="Imagen de nosotros" />
    <div class="hidden-text">
      <p>Eres mi persona favorita en el mundo. Te amo mucho.</p>
    </div>
  </div>
  <div class="card">
    <img src="../../public/image/im12.jpg" alt="Imagen de nosotros" />
    <div class="hidden-text">
      <p>Eres mi persona favorita en el mundo. Te amo mucho.</p>
    </div>
  </div>
</div>
