---
import Layout from "../layout/Layout.astro";
import "../../public/css/style.css";
import Header from "../components/Header/Header.astro";
import Footer from "../components/Footer.astro";
import Card from "../components/Card/Card.astro";
import { getImagesWithTexts } from "../utils/getImages";
const imagesWithTexts = getImagesWithTexts();
---

<Layout title="Peque HBDðŸŽ‚">
	<Header
		title="Nuestra Historia de Amor."
		subtitle="Cada Momento Contigo es un Tesoro, Mi Amor â¤ï¸"
	/>
	<div class="flex justify-center">
		<audio
			id="musica"
			src="/audio/kany-garcia-para-siempre.mp3"
			controls
			autoplay
			loop></audio>
	</div>
	<div class="gallery">
		{imagesWithTexts.map(({ src, text }) => <Card img={src} text={text} />)}
	</div>
	<Footer />
</Layout>
