---
import "./style.css";
const { title, subtitle } = Astro.props;
---

<header class="relative h-96 mb-8 head">
  <section
    class="absolute bg-black bg-opacity-45 w-full h-full flex flex-col items-center justify-center text-center head"
  >
    <h1 class="text-white font-bold text-title ">
      {title}
    </h1>
    <h3 class="text-subtitle text-white font-bold ">
      {subtitle}
    </h3>
  </section>
</header>
