---
import "./style.css";

---
<div class="slider">
  <div class="slide-track">
    <div class="slide">
      <img src="../../../public/image/im22.jpg" alt="1" />
    </div>
    <div class="slide">
      <img src="../../../public/image/im22.jpg" alt="" />
    </div><div class="slide">
      <img src="../../../public/image/im22.jpg" alt="" />
    </div><div class="slide">
      <img src="../../../public/image/im22.jpg" alt="" />
    </div><div class="slide">
      <img src="../../../public/image/im22.jpg" alt="" />
    </div><div class="slide">
      <img src="../../../public/image/im22.jpg" alt="" />
    </div>
    <div class="slide">
      <img src="../../../public/image/im22.jpg" alt="1" />
    </div>
    <div class="slide">
      <img src="../../../public/image/im22.jpg" alt="" />
    </div><div class="slide">
      <img src="../../../public/image/im22.jpg" alt="" />
    </div><div class="slide">
      <img src="../../../public/image/im22.jpg" alt="" />
    </div><div class="slide">
      <img src="../../../public/image/im22.jpg" alt="" />
    </div><div class="slide">
      <img src="../../../public/image/im22.jpg" alt="" />
    </div>
  </div>
</div>
